#back button{
    color: white;
    font-family: "lato";
    background-color: rgb(175, 100, 237);
    padding: 5px 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin: 20px 0 0 15px;
}
#searchResults{
    padding: 10px 100px
}
#pagination{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
#pagination a{
    margin:  0 20px 0 20px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: "lato";
    background-color: rgb(175, 100, 237);
}