body {
    background-image: url(./assets/spacebg.png);
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    min-height: 100vh;
    font-family: "Share Tech Mono";
    padding: 20px;
}

.container {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.question {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.options {
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 20px 0px;
    position: relative;
}

button {
    border-radius: 12px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #868cff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

#score {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
}

.choice {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff25;
}

/* Media query for smaller screens (e.g., mobile phones) */
@media (max-width: 768px) {
    .question {
        font-size: 24px;
    }

    .options {
        font-size: 18px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin: 10px 0px;
    }

    button {
        font-size: 18px;
        margin-top: 10px;
    }

    #score {
        font-size: 20px;
        margin-top: 10px;
    }

    /* Adjust the h1 font size and positioning for mobile */
    h1 {
        font-size: 28px;
        position: relative;
        top: 0;
    }
}
