body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Always show vertical scrollbar */
  }
.sStars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  span {
    position: absolute;
    top: 80%; /* Adjusted height - 20% less than 100% */
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
      0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 6s linear infinite;
  }
  
  span::before {
    content: "";
    position: absolute;
    top: 0%;
    transform: translateY(0);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
  }
  
  @keyframes animate {
    0% {
      transform: rotate(140deg) translateX(0);
      opacity: 1;
    }
  
    70% {
      opacity: 1;
    }
  
    100% {
      transform: rotate(140deg) translateX(-800px);
      opacity: 0;
    }
  }
  
  span:nth-child(1) {
    left: 0;
    animation-delay: 0s;
    animation-duration: 4s;
  }
  
  span:nth-child(2) {
    left: 100px;
    animation-delay: 1s;
    animation-duration: 6s;
  }
  
  span:nth-child(3) {
    left: 200px;
    animation-delay: 2s;
    animation-duration: 5s;
  }
  
  span:nth-child(4) {
    left: 300px;
    animation-delay: 3s;
    animation-duration: 4s;
  }
  
  span:nth-child(5) {
    left: 400px;
    animation-delay: 4s;
    animation-duration: 3s;
  }
  
  span:nth-child(6) {
    left: 500px;
    animation-delay: 5s;
    animation-duration: 2s;
  }
  
  span:nth-child(7) {
    left: 600px;
    animation-delay: 6s;
    animation-duration: 4s;
  }
  
  span:nth-child(8) {
    left: 700px;
    animation-delay: 7s;
    animation-duration: 5s;
  }
  
  span:nth-child(9) {
    left: 800px;
    animation-delay: 8s;
    animation-duration: 6s;
  }
  
  span:nth-child(10) {
    left: 900px;
    animation-delay: 9s;
    animation-duration: 3s;
  }