.navbar{
    background-color: rgb(64, 91, 132)!important;
    width: 100%;
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 30px;
}
.navbar-brand{
    font-family: "share tech mono";
    font-size: 40px;
    letter-spacing: 3px;
}
.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}
.nav-item {
    margin: 0 10px;
}